<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>

<body>
  <section>
    <div class="subtitle2">Usuarios</div>
    <div class="subtitle">
      <ul>
        @each(res in res)
        <li>{{res.username}}</li>
        <!-- <li>{{res.password}}</li> -->
        @endeach
      </ul>
    </div>
  </section>
</body>

</html>